/*=====================================
	BELOW IS THE MAIN SETUP
=======================================*/



body
{
background-color: #666666;
}

div#page
{
width:900px;
margin-left: auto;
margin-right: auto;
letter-spacing: .1px;
}

/*=====================================
	END OF THE THE MAIN SETUP
=======================================*/
