body {
	background-color: #666666;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        /**float: left;**/
}
   
      
    
.name_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-variant: small-caps;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-bottom: 4px;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #FFFFFF;
	border-left-color: #000000;
}

 .links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #C0C0C0;
}

a:link	{
	text-decoration:none; 
	color: #C0C0C0;
}

a:visited	{
	text-decoration:none; 
	color: #C0C0C0;
}
a:hover	{
	text-decoration:underline; 
	color: #FFFFFF;
}
.thick {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #C0C0C0;
}
.phrase {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: oblique;
	color: #000000;
}
.table1{
	border-bottom: 2px;
	border-top: 2px;
	border-color: #FFFFFF
}
.nav{
	}
.div1
{
    width: 94px;
    float: inside;
}
div#leftcol
{
    width: 30%;
}
div#rightcol
{
    width: 70%;
}